:root {
    --lightBlue: rgb(195, 219, 239);
    --Blue: rgb(63, 5, 139);
    --blueBlack: rgb(10, 1, 22);
}

/*Background colour and fonts*/
body {
    background-color: var(--lightBlue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-nav {
    background-color: var(--lightBlue);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.bg-light {
    background-color: var(--lightBlue) !important;
    height: 100px;
}

.nav-link {
    color: black !important;
}

/*https://stackoverflow.com/questions/12845134/
how-do-i-get-my-links-to-glow-on-hover-with-css3 and 
https://www.w3schools.com/cssref/css3_pr_text-shadow.php*/

a:hover { 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}

button:hover {
    box-shadow: 0 0 15px yellow;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

/*https://stackoverflow.com/questions/25685794/
css-image-border-glow-when-hover-with-individual-color*/
.card-img-top:hover{
    box-shadow: 0 0 25px rgba(255,0,0, 0.6);
}

.jumbotron {
    background-image: url(../images/limits.jpg);
    background-size: cover;
    background-position: center;
}

.display-4 {
    color: white;
    background-color: var(--Blue);
    margin: 0;
    text-align: center;
    width: 500px;
    font-size: 35px;
    padding: 5px;
    position: relative;
    right: 120px;
    bottom: 60px;

}

#name {
    font-size: 50px !important;
}

.lead {
    position: relative;
    color: white;
    background-color: var(--Blue);
    width: 350px;
    text-align: center;
    padding: 10px;
    left: 875px;
    font-size: 30px;
}

#portrait {
    position: relative;
    height: 400px;
    right: 75px;
    bottom: 25px;
}

.container {
    height: 1000px;
}

.sectionHeading {
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black;
    padding-top: 30px;
}

#aboutMeText {
    padding-top: 20px;
    text-align: justify;
}

h5 {
    padding-top: 10px;
    text-align: center;
}

.cubist {
    margin: auto !important;
}