/*Variables*/
:root {
    --lightBlue: rgb(195, 219, 239);
    --Blue: rgb(63, 5, 139);
}

/*General: Background colour and founts*/
body {
    background-color: var(--lightBlue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*The underline effect used for headings was derived from code described in a query on 'stack overflow' (trootnet, 
'Underlining lines in full width, not only text', stack overflow (30 August 2015), last viewed 31 December 2022: 
https://stackoverflow.com/questions/32296136/underlining-lines-in-full-width-not-only-text) and from examples given on 
'w3schools' ('CSS border-bottom Property, w3schools, last viewed 31 December 2022: 'https://www.w3schools.com/cssref/pr_border-bottom.php) */

/*General: Section Heading Formatting*/
.sectionHeading {
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black;
    padding-top: 30px;
}

/* The 'text-shadow' glow effects below are taken from Kevin Boucher's reply to a query on 'stack overflow' (Brian Peters, 
'How do I get my links to glow on :hover with CSS3? [duplicate]', stack overflow (11 October 2012), last viewed 
31 December 2022: https://stackoverflow.com/questions/12845134/how-do-i-get-my-links-to-glow-on-hover-with-css3) 
and from an example given on 'w3schools' ('CSS text-shadow Property', w3schools, last viewed 31 December 2022: 
https://www.w3schools.com/cssref/css3_pr_text-shadow.php) */

/*General--Links: Hover glow effects for all link text*/
a:hover { 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}

/* The 'box-shadow' glow effect below was modified from code given in Paul's reply to a query on 
'stack overflow' (Kenny Yap, 'CSS-Image border glow when hover with individual color', 'stack overflow', (5 September 2014), 
last viewed 31 December 2022: https://stackoverflow.com/questions/25685794/css-image-border-glow-when-hover-with-individual-color) */

/*General--Buttons: Hover glow effects for all buttons*/
button:hover {
    box-shadow: 0 0 15px yellow;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

/*General: Colour of fount for links organised in a list -- Applied to revise colour of Footer Links*/
li a{
    color: black;
}

/*Navbar: Background colour and spacing for links*/
.navbar-nav {
    background-color: var(--lightBlue);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/*Navbar: Revises background colour of navbar padding and increases height of navbar*/
.bg-light {
    background-color: var(--lightBlue) !important;
    height: 100px;
}

/*Navbar: Fount colour and size; sets z-index to display drop down menu in front of jumbotron when in smaller media formats*/
.nav-link {
    color: black !important;
    font-size: 25px;
    position: relative;
    z-index: 100;
    background-color: var(--lightBlue);
}

/*The background-position effect below derives from examples from 'w3schools' ('CSS The object-position Property', w3schools, last viewed
31 December 2022: https://www.w3schools.com/css/css3_object-position.asp) */

/*Hero Section: Background image properties*/
.jumbotron {
    background-image: url(../images/limits.jpg);
    background-size: cover;
    background-position: 50% 97%;
}

/*Hero Section: Welcome and name heading*/
#welcome {
    color: white;
    background-color: var(--Blue);
    margin: 0;
    text-align: center;
    width: 350px;
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1;
}

/*Hero Section: Welcome and name heading main fount size*/
.display-4 {
    font-size: 25px;
}

/*Hero Section: Welcome and name heading name fount size*/
#name {
    font-size: 40px !important;
}

/*Hero Section: Subheading*/
.lead {
    position: absolute;
    color: white;
    background-color: var(--Blue);
    width: 350px;
    text-align: center;
    padding: 10px;
    right: 0px;
    top: 550px;
    font-size: 30px;
}

/*Hero Section: Portrait*/
#portrait {
    position: absolute;
    height: 250px;
    left: 70px;
    top: 275px;
    z-index: 1;
}

/*Hero Section: Height of jumbotron container*/
.container {
    height: 500px;
}

/* The 'box-shadow' glow effect below was modified from code given in Paul's reply to a query on 
'stack overflow' (Kenny Yap, 'CSS-Image border glow when hover with individual color', 'stack overflow', (5 September 2014), 
last viewed 31 December 2022: https://stackoverflow.com/questions/25685794/css-image-border-glow-when-hover-with-individual-color) */

/*Work Section: Hover glow effects for webpage images*/
.card-img-top:hover{
    box-shadow: 0 0 25px rgba(255,0,0, 0.6);
}

/*The object-fit effect below derives from examples from 'w3schools' ('CSS The object-fit Property', w3schools, last viewed
31 December 2022: https://www.w3schools.com/css/css3_object-fit.asp)*/

/*Work Section: Image Size and Display*/
.card-img-top {
    object-fit: cover;
    height: 400px;
}

/*Work Section: Centering and Margins of Cards*/
.workCard {
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Work Section: Card Text*/
.card-body-work {
    background-color: var(--Blue);
    text-align: center;
    color: white;
}

/*Skills Section: Centering and Margins of Cards*/
.skillCard {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Skills Section: Header Colour and Text Centred*/
.card-header {
    background-color: var(--Blue);
    text-align: center;
}

/*Skills Section: Colour of Card Borders*/
.skillCard2 {
    border: solid var(--Blue) 1px;
}

/*Skills Section: Colour of Card Body*/
.card-body-skills {
    background-color: rgb(100, 5, 139);
    padding: 15px;
}

/*About Me Section: Text*/
#aboutMeText {
    padding-top: 20px;
    text-align: justify;
}

/*About Me Section: Container Centred*/
#aboutMeContainer {
    margin-left: auto;
    margin-right: auto;
}

/*About Me Section: Padding added to Heading*/
#aboutMe {
    padding-top: 50px;
}

/*Contact Me Section: Padding added to Heading*/
#contactMe {
    padding-top: 50px;
}

/*Contact Me Section: Padding added above Navbar*/
#contactMeNav {
    padding-top: 50px;
}

/*Footer: Button Colours*/
.btn-primary {
    background-color: var(--Blue);
    border-color: var(--Blue);
} 

/*Footer: Padding added to Heading*/
#textMe {
    padding-top: 85px;
}

/*Footer: Spacing added to content*/
.textMeContent {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
}

/*Footer: Spacing added to separate first line of objects from second*/
.favouriteLinks {
    padding-bottom: 50px;
}

/*Footer: Placement of Sign-up button*/
#emailButton {
    margin-top: 15px;
    margin-left: 25px;
}

/*Footer: Enlarges Text Box*/
#exampleInputPassword1 {
    padding-bottom: 150px;
}

/*Footer: Copyright Text Centred*/
h5 {
    padding-top: 10px;
    text-align: center;
}

/*Image Sources:
Hero Section background image class="jumbotron", 'limits.jpg': Etienne-Louis Boullée, 'Perspective View of the 
Interior of a Metropolitan Church' (1780-1781): 
https://upload.wikimedia.org/wikipedia/commons/d/d4/Etienne-Louis_Boull%C3%A9e%2C_Perspective_View_of_the_Interior_of_a_Metropolitan_Church%2C_1780-1781%2C_NGA_73870.jpg
Work Section, Card 1, 'jean-metzinger.jpg': Jean Metzinger, 'Cubist Landscape' (1911):
https://www.flickr.com/photos/gandalfsgallery/50095877028
Work Section, Card 2, 'architect.jpg': A modern building in Cleveland:
https://www.publicdomainpictures.net/en/free-download.php?image=modern-building&id=2242
Work Section, Card 3, 'lamassu.jpg': Lamassu, excavated from Khorsabad, ancient Dur Sharrukin, 
Iraq, Musée du Louvre (721-705 B.C.E):
https://www.flickr.com/photos/profzucker/14602611523
Work Section, Card 4, 'plants.jpg': Venus Fly Trap:
https://pxhere.com/en/photo/569399
Work Section, Card 5, 'monster.jpg': Edouard Riou, An ideal scene of the Lias period with 
two sauropods in the sea:
https://www.lookandlearn.com/history-images/YW023200V/An-ideal-scene-of-the-Lias-period-with-two-sauropods-in-the-sea
*/